.mark-making-page {
  padding: 70px 16px 0;
}

.mark-making-image {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.mark-making-title {
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .mark-making-page {
    padding: 100px 16px 0;
  }
}
