.event-img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.credits-and-awards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  align-items: start;
}

.ca-title {
  padding-bottom: 4px;
}

@media screen and (min-width: 480px) {
  .ca-full-screen-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    align-items: start;
  }

  .ca-display-none {
    display: none;
  }
}
