.about-page-img {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.about-page {
  padding: 50px 16px 0px 16px;
}

.about-page-image {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
}

.about-heading {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

.about-contact-heading {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.about-socials-heading {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.about-credit-heading {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

.about-body-text {
  grid-column: 3 / 7;
  grid-row: 2 / 3;
}

.about-contact-body-text {
  grid-column: 3 / 7;
  grid-row: 3;
}

.about-page-social-links {
  grid-column: 3 / 7;
  grid-row: 4;
  display: flex;
  flex-direction: column;
}

.about-credit-body-text {
  grid-column: 3 / 7;
  grid-row: 5 / 6;
}

.about-page-builder {
  grid-column: 1 / 7;
  grid-row: 6;
}

@media screen and (min-width: 480px) {
  .about-page {
    padding: 100px 16px 0px 16px;
  }

  .about-page-image {
    grid-column: 13 / 25;
    grid-row: 1 / 2;
    padding-bottom: 60px;
  }

  .about-heading {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
  }

  .about-contact-heading {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .about-socials-heading {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .about-credit-heading {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }

  .about-body-text {
    grid-column: 6 / 12;
    grid-row: 1 / 2;
  }

  .about-contact-body-text {
    grid-column: 6 / 12;
    grid-row: 2;
  }

  .about-page-social-links {
    grid-column: 6 / 12;
    grid-row: 3;
  }

  .about-credit-body-text {
    grid-column: 6 / 12;
    grid-row: 4 / 5;
  }

  .about-page-builder {
    grid-column: 1 / 25;
    grid-row: 5;
  }
}
