.event-img {
  width: 100%;
  height: auto;
  aspect-ratio: 4 / 5;
  object-fit: cover;
}

.event-block {
  padding: 0 16px;
}

.event-details-grid {
  display: grid;
  row-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
}

.event-block-titles {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  padding-bottom: 8px;
}

.event-img-container {
  grid-column: 1 / 7;
  grid-row: 3 / 4;
  padding-bottom: 8px;
}

.event-description {
  grid-column: 1 / 7;
  grid-row: 4 / 5;
  padding-bottom: 32px;
}

.event-details-list {
  grid-column: 1 / 7;
  grid-row: 5 / 6;
}

.event-detail-header {
  grid-column: 1/2;
}

.event-detail {
  grid-column: 2 / 4;
}

@media screen and (min-width: 480px) {
  .event-block-titles {
    grid-column: 1 / 6;
    grid-row: 1 / 2;
    padding-bottom: 0;
  }

  .event-img-container {
    grid-column: 7 / 13;
    grid-row: 1 / 10;
    padding-bottom: 0;
  }

  .event-description {
    grid-column: 15 / 25;
    grid-row: 1 / 2;
    padding-bottom: 32px;
  }

  .event-details-list {
    grid-column: 17 / 24;
    grid-row: 1 / 2;
  }
}
