.nav-links,
.nav-sub-heading,
.nav-links-heading {
  display: none;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

.text-blend {
  color: black;
}

.nav-fade {
  background-image: linear-gradient(#efede9, transparent);
  background-position: top;
  background-repeat: no-repeat;
}

.nav-content {
  display: flex;
  padding: 16px 0 0;
}

.menu-button {
  margin-left: auto;
  z-index: 50;
}

.nav-header {
  z-index: 50;
}

/* Overlay */
.nav-overlay {
  position: fixed;
  top: 0px;
  inset: 0;
  background: #ecebeb;
  z-index: 40;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
}

.nav-overlay-links {
  grid-column: 1 / 7;
  grid-row: 1 / 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 480px) {
  .blend {
    mix-blend-mode: difference;
    -webkit-text-stroke: 0.5px rgba(0, 0, 0, 0.2);
  }

  .text-blend {
    color: #c9c9c9;
  }

  .nav-links,
  .nav-sub-heading {
    display: flex;
    gap: 4px;
  }

  .nav-links-heading {
    display: block;
  }

  .menu-button {
    display: none;
  }

  .nav-content {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(24, 1fr);
  }

  .nav-header {
    grid-column: 1 / 13;
  }

  .nav-links-container {
    grid-column: 13 / 25;
  }
}
