.nav-links,
.nav-sub-heading,
.nav-links-heading {
  display: none;
}

.nav {
  position: fixed;
  top: 16px;
  left: 0;
  right: 0;
  background: transparent;
}

.nav-content {
  display: flex;
}

.menu-button {
  margin-left: auto;
  z-index: 50;
}

.nav-header {
  z-index: 50;
}

/* Overlay */
.nav-overlay {
  position: fixed;
  top: 0px;
  inset: 0;
  background: white;
  z-index: 40;
  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  padding: 80px 16px 16px;
}

.nav-overlay-links {
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: 480px) {
  .nav-links,
  .nav-sub-heading {
    display: flex;
    gap: 4px;
  }

  .nav-links-heading {
    display: block;
  }

  .menu-button {
    display: none;
  }

  .nav-content {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(24, 1fr);
  }

  .nav-header {
    grid-column: 1 / 13;
  }

  .nav-links-container {
    grid-column: 13 / 25;
  }
}
