.header-media-content {
  width: 100%;
  height: 100vh;
}

.header-media-img {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.hm-mux-video-player {
  width: 100%;
  height: 100vh;
  --media-object-fit: cover;
}
